 ### Exercise 2 : **Data Science Tools and Ecosystem**

### Exercise 3 : **introduction**

**It's great to learn and become a professional in data science.**

### Exercise 4 : **Some of the popular languages that Data Scientists use are :**

1. **Python**
2. **R**
3. **SQL**

### Exercise 5 : **Some of the commonly used libraries used by Data Scientists include :**

1. **Pandas**
2. **Numpy**
3. **Seaborn**

## Exercise 6 : 
     | Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Visual Studio Code (VS Code) |

### Exercise 7 : **Below are a few examples of evaluating arithmetic expressions in Python.**

In [1]:
# Example 1: Addition
3 + 5

# Example 2: Multiplication
4 * 7

# Example 3: Division
10 / 2

5.0

## Exercise 8

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

## Exercise 9

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Exercise 10

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used Data Science libraries and tools  
- Create and run basic arithmetic expressions in Python  
- Understand how to convert minutes to hours using Python  
- Demonstrate how to format Markdown cells with tables and lists

## Exercise 11 

## Author  
Yazan Ibrahim bin Hamdan Al-Ghamdi